*{
    margin: 0;
}


header{
    background-color: black;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 25px;
}
.logo{
    width: 15px;
    border: none;
   
}
.search{
    width: 170px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}
.search-btn{
    background-color: transparent;
    border: none;
}

.form{
    border-radius: 20px;
    padding: 5px 10px;
    background-color: rgb(232, 232, 220);
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}
.nav{
    display: flex;
    justify-content:space-around ;
    text-decoration: none;
    margin-top: 10px;  
}


body {
    background-color: #E8EEF1;
    text-align: center;
}

header {
    background-color: #2E3B4E;
    color: white;
    padding: 15px;
    font-size: 24px;
}

.weather-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.weather-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.weather-card h2 {
    font-size: 22px;
}

.weather-card p {
    margin: 5px 0;
}

.temperature {
    font-size: 32px;
    font-weight: bold;
}

.icon {
    width: 50px;
    vertical-align: middle;
}
.lupa{
width: 20px;
position: relative;
right:25px ;
top: 3px;
background-color: #01010100;
}
.searh{
border-radius:2px solid rgb(0, 0, 0);
background-color: #00000000;
border-radius: 1px solid rgb(0, 0, 0);

}
