*{
    margin: 0;
}

header{
    background-color: black;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 25px;
}
.logo{
    width: 15px;
    border: none;
   
}
.search{
    width: 170px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}
.search-btn{
    background-color: transparent;
    border: none;
}

.form{
    border-radius: 20px;
    padding: 5px 10px;
    background-color: rgb(232, 232, 220);
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}
.nav{
    display: flex;
    justify-content:space-around ;
    text-decoration: none;
    margin-top: 10px;  
}


  
ww1{
    background-color: azure;
    text-align: center;
    margin-right: 200px;
   
}

ww{
    font-family: Arial, sans-serif;
    background-color: #eef3f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-right: 200px;
   

}
.ww {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.date {
    color: #898484;
    font-size: 14px;
}
.temperature {
    font-size: 42px;
    font-weight: bold;
}
.jambir{
    font-size: 24px;
    margin-right: 10px;
}
.detaly {
    font-size: 16px;
    color: #767676;
}
.text {
    font-size: 12px;
    color: #878585;
}

.kart{
    
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* .ww1{
    background-color: azure;
    text-align: center;
    margin-right: 200px;
   
}

.ww{
    font-family: Arial, sans-serif;
    background-color: #eef3f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-right: 200px;
   

} */
.ww {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.date {
    color: #898484;
    font-size: 14px;
}
.temperature {
    font-size: 42px;
    font-weight: bold;
}
.jambir{
    font-size: 24px;
    margin-right: 10px;
}
.detaly {
    font-size: 16px;
    color: #767676;
}
.text {
    font-size: 12px;
    color: #878585;
}